@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://api.fontshare.com/v2/css?f[]=melodrama@300,600,700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=kola@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap");



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base{

    :root{
        --nav-height: 4.8rem;
        font-family: var(--Satochi-Regular);
    }
    html{
      
        @apply bg-background text-white;
       
    }
    li{
        list-style: none;
    }
}

.logo {
    font-size: 20px;
    font-family: var(--DancingScript-Bold);
}